{% extends 'base.html.twig' %}

{% block title %}Ophthalmic surgeon{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="my-5 texter-center">Welcome</h1>
        <div class="row">
            <div class="col">
                <h2>Test</h2>
            </div>
        </div>
    </div>
{% endblock %}
