<footer id="target-contact" class="bloc-footer">
    <div class="text-center">
        <div class="memberships-footer"> 
            <h6>Professional memberships</h6>
                <p>The Royal College of Ophthalmologists, London</p>
                <p>European Glaucoma Society</p>
                <p>Scottish Ophthalmology Club</p>
                <p>Egyptian Ophthalmology Society</p>
                <p>British Medical Association</p> 
        </div>
        <div class="content-footer">
            <div id="information-mr-radwan">
                <p><i class="fas fa-mobile-alt"></i>+44.07576846127</p>
                <p><i class="fas fa-at"></i>contact@colchestereyedoctor.com</p>
            </div>
            <a href="http://linkedin.com/in/mahmoud-radwan-729ab332" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://youtube.com/channel/UCZag8er1bWjDucb89g78m1g" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="mailto:contact@colchestereyedoctor.com"><i class="fas fa-envelope"></i></a>				
        </div>
            <div class="container" id="partners-logo">
                <div class="row">
                    <div class="col">
                        <img src="/images/partners/partner-7.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-1.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-3.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-4.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-5.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-2.jpg" alt="logos of partners">
                        <img src="/images/partners/partner-6.jpg" alt="logos of partners">
                    </div>
                </div>
            </div>
            <div class="container" id="insurers">
                <div class="row">
                    <div class="col">
                        <img src="/images/insurers/insurer-1.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-2.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-3.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-4.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-5.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-6.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-7.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-8.jpg" alt="logos of partners">
                        <img src="/images/insurers/insurer-9.jpg" alt="logos of partners">
                    </div>
                </div>
            </div>
            <div id="contact-webmaster">
                <p>© Copyright 2020. All rights reserved.</p>
                <a href="mailto:ethan.eldib@gmail.com"><small><i class="fas fa-envelope"> Contact webmaster</i></small></a>
            </div>
            <div id="disclaimer">
                <small>
                    <strong>Disclaimer</strong> - The information on this website is not intended or implied to be a substitute for professional medical advice, diagnosis, or treatment. It is intended as a guide only. All content, including text, graphics, images,videos and information, contained on or available through this Site is for general information purposes only. 
                    If a user is experiencing eyes problem(s) and/or symptom(s) it is important to consult with a general practitioner, an Ophthalmologist or other appropriate health care professional.
                    Whilst every effort is made to ensure that the information contained on this site is accurate and up to date, the information will be subject to alteration from time to time. The Mr Radwan -the owner- of this website is not responsible or liable, directly or indirectly, for any form of damages whatsoever resulting from the information contained in or implied by the information on the site. 
                    By using this website you agree to comply with these terms and conditions. If you do not agree to comply with these terms and conditions please discontinue your use of this website. 
                    Use of this website will be governed by and construed in accordance with the laws of England and Wales and any dispute will be referred to the English courts.
                </small>
            </div>
    </div>
</footer>