{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <section class="services-offered text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>Services <span id="span-h1">offered</span></h1>
                        <h6>For more information do not hesitate to contact me</h6>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-sm-6 ">
                    <div class="item ">
                    <div class="border-left"></div>
                        <i class="fas fa-hand-holding-medical"></i>
                        <h4>Consultation</h4>
                        <p>
                            Comprehensive eye examination, request and interpretation of appropriate diagnostic tests and discussing the individualised management plan.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="item">
                    <div class="border-left"></div>
                        <i class="fas fa-syringe"></i>
                        <h4>Cataract surgery</h4>
                        <ul>
                            <li>Removing the cataract and implantation of intraocular lenses</li>
                            <li>Lens replacement surgery</li>
                            <li>Toric intraocular lenses</li>
                            <li>Premium and enhanced focus intraocular lenses</li>
                            <li>Cataract plus surgery: Astigmatism correction and MIGS</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="item">
                    <div class="border-left"></div>
                        <i class="fas fa-user-md"></i>
                        <h4>Glaucoma management</h4>
                        <ul>
                            <li><span style="font-size:0.7rem; font-weight:500" >MIGS: Wide range of minimally invasive glaucoma devices and procedures tailed to each case :</span> </li>
                            <li>iStent W</li>
                            <li>XEN</li>
                            <li>PreserFlo</li>
                            <li>Goniotomy</li>
                            <li>MDLT</li>
                            <li>Augmented Trabeculectomy</li>
                            <li>Baerveldt Glaucoma implant</li>
                            <li>Ahmed Valve</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="item">
                    <div class="border-left"></div>
                        <i class="far fa-gem"></i>
                        <h4>LASER Procedures</h4>
                        <ul>
                            <li>YAG and Argon Laser Peripheral Iridotomy for narrow drainage angle</li>
                            <li>YAG Laser Capsulotomy for post cataract capsular opacification</li>
                            <li>Selective Laser Trabeculoplasty SLT for increased eye pressure</li>
                            <li>MicroPulse Laser treatment for Glaucoma</li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                    <div class="border-left"></div>
                        <i class="far fa-file-alt"></i>
                        <h4>Other treatments</h4>
                        <ul>
                            <li>Minor eyelid surgery</li>
                            <li>Retinal laser</li>
                            <li>Injections for retinal diseases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
