{% extends 'base.html.twig' %}

{% block title %}Privacy policy{% endblock %}

{% block body %}
    <div class="container">
        <span class="stabilisation"></span>
        <p style="text-align: center;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PRIVACY POLICY</font></font></strong></p>
        <p style="text-align: center;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OF THE SITE :</font></font></strong></p>
        <p style="text-align: center;"><strong><span id="span_id_nom_du_site"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">radwan-eyespecialist</font></font></span> </strong></p>
        <p><br><br></p>
        <p style="text-align: center;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 1: PREAMBLE</font></font><br><br></strong></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This privacy policy applies to the site: </font></font><span id="span_id_nom_du_site"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">radwan-eyespecialist</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font><br><br></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The purpose of this privacy policy is to expose users of the site to:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The way in which their personal data is collected and processed. </font><font style="vertical-align: inherit;">Must be considered as personal data all data that can identify a user. </font><font style="vertical-align: inherit;">These include the first and last name, age, postal address, email address, location of the user or his IP address;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What are the rights of users regarding this data;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Who is responsible for the processing of personal data collected and processed;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eventually, the site's policy in terms of "cookie" files.</font></font></li>
        </ul>
        <p><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This privacy policy complements the legal notices and the General Conditions of Use that users can consult at the following address:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_url_cgu"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">https://radwan-eyespecialist.com/privacy-policy</font></font></span> </p>
        <p style="text-align: center;"><span style="font-weight: bold; font-size: 14.56px;"><br></span><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 2: GENERAL PRINCIPLES REGARDING DATA COLLECTION AND PROCESSING</font></font></strong><br><br></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In accordance with the provisions of Article 5 of European Regulation 2016/679, the collection and processing of site user data complies with the following principles:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lawfulness, loyalty and transparency: data can only be collected and processed with the consent of the user who owns the data. </font><font style="vertical-align: inherit;">Each time personal data is collected, the user will be informed that his data is collected, and for what reasons his data is collected;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Limited purposes: the collection and processing of data is carried out to meet one or more objectives determined in these general conditions of use;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Minimization of the collection and processing of data: only the data necessary for the proper execution of the objectives pursued by the site are collected;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Retention of reduced data over time: the data is kept for a limited period, of which the user is informed. </font><font style="vertical-align: inherit;">When this information cannot be communicated, the user is informed of the criteria used to determine the retention period;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Integrity and confidentiality of the data collected and processed: the data controller undertakes to guarantee the integrity and confidentiality of the data collected.</font></font><br><br></li>
        </ul>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In order to be lawful, and in accordance with the requirements of Article 6 of European Regulation 2016/679, the collection and processing of personal data can only take place if they comply with at least one of the conditions below. after listed:</font></font></p>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The user has expressly consented to the processing;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The processing is necessary for the proper performance of a contract;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The processing meets a legal obligation;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The processing is explained by a necessity linked to the safeguard of the vital interests of the person concerned or of another natural person;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The processing can be explained by a necessity linked to the performance of a task in the public interest or which comes under the exercise of public authority;</font></font></li>
        </ul>
        <ul>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The processing and collection of personal data is necessary for the purposes of the legitimate and private interests pursued by the controller or by a third party.</font></font></li>
        </ul>
        <p style="text-align: center;"><br><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 3: PERSONAL DATA COLLECTED AND PROCESSED IN THE CONTEXT OF BROWSING ON THE SITE</font></font><br><br></strong></p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> DATA COLLECTED AND PROCESSED AND COLLECTION METHOD</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The personal data collected on the </font></font><span id="span_id_nom_du_site_internet"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">radwan-eyespecialist</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> site are as follows:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_liste_donnees_collectees"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Last name, first name, email address and telephone number</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This data is collected when the user performs one of the following operations on the site:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_operations_collectes_donnees"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">When the user submits the appointment request form.</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data controller will keep all the data collected in its computer systems on the site and under reasonable security conditions for a period of: </font></font><span id="span_id_duree_conservation_donnees"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">26 months (visit analysis cookie)</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The collection and processing of data meets the following purposes:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_finalite_traitement_donnees"><span class="variable_vide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">________</font></font></span></span></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data processing carried out is based on the following legal bases:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_bases_legales"><span class="variable_vide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">________</font></font></span></span> </p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">B.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> TRANSMISSION OF DATA TO THIRD PARTIES</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The personal data collected by the site is not transmitted to any third party, and is only processed by the site editor.</font></font><br><br></p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">C.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> DATA HOSTING</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The </font></font><span id="span_id_nom_du_site_internet"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">radwan-eyespecialist</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> site is hosted by: </font></font><span id="span_id_denomination_sociale_de_l_hebergeur"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bluehost</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , whose head office is located at the following address:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_siege_social_de_l_hebergeur"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 Corporate Drive, Suite #300, Burlington, MA 01803, USA.</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The host can be contacted at the following telephone number: </font></font><span id="span_id_telephone_de_l_hebergeur"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+ 1 (801) 765-9400</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data collected and processed by the site is transferred to the following country(ies): </font></font><span id="span_id_pays_transfert_donnees"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">United Kingdom</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        <p style="text-align: center;"><br><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 4: RESPONSIBLE FOR DATA PROCESSING</font></font></strong></p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> THE DATA PROCESSOR</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The person responsible for processing personal data is: </font></font><span id="span_id_prenom_nom_responsable"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mr. ELDIB</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . </font><font style="vertical-align: inherit;">He can be contacted as follows:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_methode_contact_rtd"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data controller can be contacted on 0666323275</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data controller is responsible for determining the purposes and means used for the processing of personal data.</font></font><br><br></p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">B.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> OBLIGATIONS OF THE DATA PROCESSOR</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data controller undertakes to protect the personal data collected, not to transmit them to third parties without the user having been informed and to respect the purposes for which these data were collected.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The site has an SSL certificate to ensure that information and data transfer passing through the site are secure.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An SSL certificate ("Secure Socket Layer" Certificate) is intended to secure the data exchanged between the user and the site.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In addition, the data controller undertakes to notify the user in the event of rectification or deletion of the data, unless this entails disproportionate formalities, costs and procedures for him.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the event that the integrity, confidentiality or security of the user's personal data is compromised, the controller undertakes to inform the user by any means.</font></font><br><br></p>
        <p style="text-align: center;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 5: USER RIGHTS</font></font></strong><br><br></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In accordance with the regulations concerning the processing of personal data, the user has the rights listed below.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In order for the data controller to comply with his request, the user is required to communicate to him: his first and last name as well as his e-mail address.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The data controller is required to respond to the user within a maximum of 30 (thirty) days.</font></font><br><br></p>
        <p style="padding-left: 30px;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A.</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> PRESENTATION OF USER RIGHTS REGARDING DATA COLLECTION AND PROCESSING</font></font></p>
        <p><em><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">has. </font><font style="vertical-align: inherit;">Right of access, rectification and right to erasure</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The user can read, update, modify or request the deletion of the data concerning him, by respecting the procedure set out below:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_acces_donnees"><span class="variable_vide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">________</font></font></span></span> <br><br></p>
        <p><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">b. </font><font style="vertical-align: inherit;">Right to data portability</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The user has the right to request the portability of his personal data, held by the site, to another site, by complying with the following procedure:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_portabilite_donnees_personnelles"><span class="variable_vide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">________</font></font></span></span></p>
        <p><br><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vs. </font><font style="vertical-align: inherit;">Right to restriction and opposition of data processing</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The user has the right to request the limitation or to oppose the processing of his data by the site, without the site being able to refuse, except to demonstrate the existence of legitimate and compelling reasons, which may prevail over the interests and the rights and freedoms of the user.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In order to request the limitation of the processing of his data or to oppose the processing of his data, the user must follow the following procedure:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_procedure_limitation_traitement"><span class="variable_vide"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">________</font></font></span></span><br><br> </p>
        <p><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">d. </font><font style="vertical-align: inherit;">Right not to be the subject of a decision based exclusively on an automated process</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In accordance with the provisions of Regulation 2016/679, the user has the right not to be the subject of a decision based exclusively on an automated process if the decision produces legal effects concerning him, or significantly affects him similar way.</font></font></p>
        <p><br><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">e. </font><font style="vertical-align: inherit;">Right to determine fate of data after death</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The user is reminded that he can organize what should be the future of his data collected and processed if he dies, in accordance with law n ° 2016-1321 of October 7, 2016.</font></font></p>
        <p><br><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">f. </font><font style="vertical-align: inherit;">Right to appeal to the competent supervisory authority</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the event that the data controller decides not to respond to the user's request, and the user wishes to contest this decision, or, if he thinks that one of the rights listed above, he is entitled to appeal to the CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) or any competent judge.</font></font><br><br></p>
        <p style="padding-left: 30px;"><span style="font-weight: bold; font-size: 14.56px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">B.</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> PERSONAL DATA OF MINORS</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In accordance with the provisions of Article 8 of European Regulation 2016/679 and the Data Protection Act, only minors aged 15 or over can consent to the processing of their personal data.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If the user is a minor under the age of 15, the agreement of a legal representative will be required so that personal data can be collected and processed.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The site editor reserves the right to verify by any means that the user is over 15 years old, or that he has obtained the agreement of a legal representative before browsing the site.</font></font></p>
        <p style="text-align: center;"><br><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 6: USE OF "COOKIE" FILES</font></font><br><br></strong> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The site may use "cookie" techniques.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A "cookie" is a small file (less than 4 KB), stored by the site on the user's hard drive, containing information relating to the user's browsing habits.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">These files allow it to process statistics and traffic information, to facilitate navigation and to improve the service for the comfort of the user.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">For the use of "cookie" files involving the saving and analysis of personal data, the consent of the user is necessarily requested.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This user consent is considered valid for a maximum period of 6 (six) months. </font><font style="vertical-align: inherit;">At the end of this period, the site will again request the user's authorization to save "cookie" files on their hard drive.</font></font></p>
        <p><br><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">has. </font><font style="vertical-align: inherit;">Opposition of the user to the use of "cookies" files by the site</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies that are not essential to the operation of the site are only placed on the user's terminal after obtaining their consent. </font><font style="vertical-align: inherit;">The user can withdraw his consent at any time, as follows:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_consentement_cookies"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Management of cookies via the "tarteaucitron" tool</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">More generally, the user is informed that he can oppose the recording of these "cookie" files by configuring his navigation software.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">For information, the user can find at the following addresses the steps to follow in order to configure his navigation software to oppose the recording of "cookie" files:</font></font></p>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chrome</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;: https://support.google.com/accounts/answer/61416?hl=en</font></font></li>
        </ul>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Firefox</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;: https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences</font></font></li>
        </ul>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Safari</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;: http://www.apple.com/legal/privacy/fr-ww/</font></font></li>
        </ul>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Internet Explorer</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;: https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</font></font></li>
        </ul>
        <ul>
            <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Opera</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;: http://www.opera.com/help/tutorials/security/cookies/</font></font></li>
        </ul>
        <p><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the event that the user decides to deactivate the "cookie" files, he may continue browsing the site. </font><font style="vertical-align: inherit;">However, any malfunction of the site caused by this manipulation could not be considered as being due to the publisher of the site.</font></font></p>
        <p><br><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">b. </font><font style="vertical-align: inherit;">Description of the "cookie" files used by the site</font></font></em></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The site editor draws the user's attention to the fact that the following cookies are used during browsing:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_liste_cookies"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Analytics</font></font></span> <br><br></p>
        <p style="text-align: center;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ARTICLE 7: CONDITIONS FOR MODIFICATION OF THE PRIVACY POLICY</font></font><br><br></strong></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This privacy policy can be consulted at any time at the address indicated below:</font></font></p>
        <p style="padding-left: 30px;"><span id="span_id_adresse_politique_confidentialite"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">https://radwan-eyespecialist.com/privacy-policy</font></font></span> </p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The publisher of the site reserves the right to modify it in order to guarantee its conformity with the law in force.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consequently, the user is invited to regularly consult this privacy policy in order to stay informed of the latest changes that will be made to it.</font></font></p>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It is brought to the user's attention that the last update of this privacy policy took place on: </font></font><span id="span_id_date_derniere_maj" class="encours"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">26/06/2022</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
    </div>
{% endblock %}
