@import "~bootstrap/scss/bootstrap";
@import "variables";

.bloc-page {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small,
  span,
  em,
  p,
  a,
  li {
    font-family: 'Roboto', serif;
  }

  @media (min-width: 790px) {

    .area-expertise,
    .about,
    .awards,
    .publications {
      width: 80%;
      margin: 0 auto;
    }
  }

}

.header {
  transition: all 0.35s;

  .navbar-toggler-icon {
    outline-color: white;
  }

  .navbar-toggler:focus {
    outline-color: white;
  }

  .navbar-nav {
    line-height: 5px;
    margin-left: 10px;
  }

  .navbar {
    justify-content: start;
    padding: 0rem 0rem;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  #logo {
    max-width: 168px;
    max-height: 168px;

  }

  .nav-link {
    color: white;
  }

  .hover {
    transition: all 0.2s ease-in-out;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      width: 0px;
      height: 2px;
      margin: 4px 0 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.4s;
      opacity: 0;
      background-color: white;
    }

    &.hover-underline {
      &::before {
        left: 50%;
      }

      &::after {
        right: 50%;
      }
    }

    &:hover {

      &::before,
      &::after {
        width: 100%;
        opacity: 1;
      }

      &.hover-underline {

        &::before,
        &::after {
          width: 50%;
        }
      }
    }
  }

  .scroll {
    align-content: center;
    background: #02b4f0;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    transition: all 0.35s ease;

    .nav-link {
      transition: all 0.35s ease;
    }

    #logo {
      max-width: 85px;
      max-height: 85px;
      transition: 0.35s ease;
    }


  }

  @media (min-width: 790px) {

    #logo {
      max-width: 205px;
      max-height: 205px;
    }

    .nav-link {
      font-size: 1.4rem;
      line-height: 13px;
    }
  }
}

.hero {

  h1 {
    font-size: 1.6rem;
  }

  .display-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #00BFFF, #04a7de);
  }

  #fullName {
    color: white;
  }

  small {
    color: rgb(0, 0, 0);
    font-size: 0.6rem;
  }

  em {
    color: white;
    font-size: 0.6rem;
  }

  span {
    color: white;
    text-shadow: $textShadow;
  }

  .headline {
    left: 2px;
    top: 30px;
  }

  .clipped {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    min-height: 100vh;
    background-image: url('/images/gallery/radwan-7.jpg');
    background-position: center;
    filter: grayscale(60%);
    background-size: cover;
  }

  @media (min-width: 790px) {
    h1 {
      font-size: 2.8rem;
    }

    small {
      font-size: 0.8rem;
    }

    em {
      font-size: 1.1rem;
    }
  }
}

.area-expertise,
.about,
.awards,
.publications {
  position: relative;

  h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 80px;

    &::first-letter {
      color: #00BFFF;
      font-family: 'Dancing Script', cursive;
      font-size: 4.5rem;
    }

  }

  .wrap {
    height: 100%;
  }

  .card {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    max-width: 700px;
    margin: 80px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .card-pic-wrap {
    border-radius: 5px 0 0 5px;
    width: 300px;
    flex: 0 0 auto;
    position: relative;
    background: linear-gradient(to bottom, #00BFFF, #04a7de);

    img {
      position: absolute;
      bottom: 3em;
      filter: grayscale(60%);
      left: -3%;
      width: 250px;
      -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(76%, transparent), to(rgba(250, 250, 250, 0.15)));
    }
  }

  .card-content {
    padding: 1em 0.2em 0em;

    h3 {
      font-size: 1.2rem;
    }

    ul {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 790px) {

    h3 {
      font-size: 1.7rem;
      margin-left: 29px;
      margin-bottom: -85px;
    }

    .wrap {
      margin-top: 215px;
    }

    .card {
      max-width: 100%;
      margin: 160px 0;
    }

    .card-pic-wrap {
      width: 100%;
      height: 420px;

      img {
        bottom: 7%;
        filter: grayscale(60%);
        left: 35%;
        width: 366px;
      }
    }

    .card-content {
      padding: 1em 1.2em 1em;

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 790px) {
    body {
      overflow-x: hidden;
    }

    .wrap {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 200px;
    }

    .card {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .card-pic-wrap {
      width: 100%;
      border-radius: 5px 5px 0 0;

      img {
        bottom: 71px;
        border-radius: 7px;
        position: relative;
      }
    }

    .card-content {

      h3 {
        font-size: 1.2rem;
      }

      ul {
        font-size: 0.8rem;
      }
    }
  }

}

.area-expertise,
.about {
  p::first-letter {
    color: #00BFFF;
    font-family: 'Dancing Script', cursive;
    font-size: 190%;
  }
}

.eye-disease {
  position: relative;
  margin-bottom: -123px;
  margin-top: 188px;

  h3 {
    text-align: center;
    text-decoration-color: #00BFFF;
    font-size: 1.7rem;

    &::first-letter {
      color: #00BFFF;
      font-family: 'Dancing Script', cursive;
      font-size: 4.5rem;
    }
  }

  #subtitle-eye-disease {
    margin: 40px 11px;
    text-align: center;
  }

  .modal-toggle {
    background: #00BFFF;
    border: transparent;
    border-radius: 7px;
    color: white;
    text-shadow: $textShadow;
    padding: 7px;

    &:focus {
      outline-style: none;
    }

    &:hover{
      background-color: darken( #00BFFF, 30%);
      transition: all 0.45s ease-in-out;
    }
  }

  .wrapper {
    display: grid;
    margin: 10px 10px;

  }

  .modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
  }

  .modal-wrapper {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  }

  .modal-transition {
    transition: all 0.3s 0.12s;
    opacity: 0;
  }

  .modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;

  }

  .modal-heading {
    font-size: 1.5rem;
  }

  .modal-body {
    padding: 0 8px;
  }

  .modal-close {
    position: absolute;
    top: 8px;
    right: 15px;
    text-decoration: none;
  }

  .modal-close:hover {
    color: #777;
  }

  .modal-close-bottom {
    position: absolute;
    top: 100%;
    background: white;
    color: black;
    border: transparent;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 7px;
    right: 44%;
  }

  .eye-disease-cataract {
    img {
      max-width: 335px;
      max-height: 335px;
    }

    .modal-disease-cataract {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
    }

    .modal-disease-cataract.is-visible {
      visibility: visible;
    }

    .modal-disease-cataract.is-visible .modal-overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .modal-disease-cataract.is-visible .modal-transition {
      transform: translate(0px, 25%);
      opacity: 1;
    }
  }

  .eye-disease-glaucoma {
    img {
      max-width: 305px;
      max-height: 305px;
    }

    figure {
      margin: 0 auto;
    }

    figcaption {
      margin-bottom: 20px;
    }

    .modal-disease-glaucoma {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
    }

    .modal-disease-glaucoma.is-visible {
      visibility: visible;
    }

    .modal-disease-glaucoma.is-visible .modal-overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .modal-disease-glaucoma.is-visible .modal-transition {
      transform: translate(0px, 15%);
      opacity: 1;
    }
  }

  @media (min-width: 790px) {

    & {
      margin-bottom: -60px;
    }

    .modal-toggle {
      width: 200px;
      margin: 0 auto;
    }
  }
}

.awards {
  i {
    color: goldenrod;
  }

  img {
    width: 175px !important;
  }

  p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 20px;
  }

  @media (min-width: 790px) {

    img {
      width: 252px !important;
      left: 41% !important;
    }

  }
}

.publications {

  @media (min-width: 790px) {

    img {
      width: 294px !important;
      left: 41% !important;
      top: -14%;
    }

    ul {
      font-size: 1.5rem !important;
    }

    h5 {
      font-size: 1.7rem;
      margin: 45px 0px;
      text-decoration: overline;
      text-decoration-color: #04a7de;
    }
  }
}

.gallery {

  margin-top: 200px;
  margin-bottom: 200px;

  h3 {
    text-align: center;
    text-decoration-color: #00BFFF;
    font-size: 1.7rem;

    &::first-letter {
      color: #00BFFF;
      font-family: 'Dancing Script', cursive;
      font-size: 4.5rem;
    }
  }

  img {
    width: 150px;
    border: 10px solid darken(#04a8e0, 20%);
    margin: 10px;

    &:hover {
      border: 10px solid lighten(#04a8e0, 30%);
      transition: all 0.45s ease-in-out;
    }
  }

  .lightbox-opened {
    background-color: #333;
    background-color: rgba(#333, 0.9);
    cursor: pointer;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 24px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;

    &:before {
      background-color: rgba(51, 51, 51, 0.9);
      color: #eee;
      content: "x";
      font-family: sans-serif;
      padding: 15px 20px;
      position: absolute;
      border-radius: 50%;
      top: 208px;
      right: 275px;
      text-transform: uppercase;
    }

    img {
      box-shadow: 0 0 6px 3px #333;
      width: 65%;
      margin-top: 150px;
    }
  }

  .no-scroll {
    overflow: hidden;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  @media (max-width: 790px) {
    .lightbox-opened:before {
      top: 166px;
      right: 98px;
    }
  }
}

.bloc-footer {
  background: linear-gradient(to top, #00BFFF, #04a7de);
  height: 60vh;
  color: white;

  .content-footer {
    padding: 2rem 0rem 0rem 0rem;
  }

  i {
    color: white;
    font-size: 1.9rem;
    border: 1px solid white;
    padding: 15px;
    border-radius: 50%;
    margin: 0px 15px 35px 15px;

    &:hover {
      background-color: white;
      color: #04a7de;
      transition: 0.4s ease-in-out;
    }
  }

  #contact-webmaster {
    text-decoration: none;
    color: white;
  }

  .memberships-footer {
    margin-bottom: -14px;
    background: white;
    padding: 10px;
    border-radius: 7px;
    transform: translateY(-25px);
    color: black;
    padding-bottom: 10p;
    width: 35%;
    margin: 0 auto;

    h6{
      text-decoration: underline;
      text-decoration-color: #2E8BC0;
    }

    p {
      margin-bottom: 0;
    }
  }
}


// Bouton scroll to the top
#scroll-to-top {
  text-decoration: none;
  display: inline-block;
  background-color: #02B8F5;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  i {
    font-size: 1.3em;
    line-height: 42px;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px #2E8BC0;

    i {
      color: #2E8BC0;
    }

  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}