$color-env : $colorPrimary;
$color-env2 : darken($color-env, 3%);
$color-flap : darken($color-env, 20%);
$color-bg : lighten($color-env, 48%);

$env-border-radius : 6px;
$env-width : 380px;
$env-height : 280px;

#thankyou-letter {

    #logo-wax {
        max-width: 90px;
        max-height: 90px;
        z-index: 999;
        left: 38%;
        bottom: 35%;
        position: absolute;
        box-shadow: none !important;
    }

    h3 {
        text-align: center;
        text-decoration-color: $colorPrimary;
        font-size: 1.7rem;

        &::first-letter {
            color: $colorPrimary;
            font-family: 'Dancing Script', cursive;
            font-size: 4.5rem;
        }
    }

    img {
        max-width: 91px;
        max-height: 91px;
        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 2px 0px black;
    }

    .envlope-wrapper {
        height: ($env-height + 200px);
    }

    #envelope {
        position: relative;
        width: $env-width;
        height: $env-height;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        margin: 0 auto;
        top: 29px;
        background-color: #bbbbbb;
    }

    .close-env .flap {
        transform: rotateX(0deg);
        transition: transform .4s .6s ease, z-index 1s;
        z-index: 5;
    }

    .close-env .letter {
        text-align: center;
        transform: translateY(0px);
        transition: transform .4s ease, z-index 1s;
        z-index: 1;
    }

    .front {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 3;
    }

    .flap {
        border-left: ($env-width / 2) solid transparent;
        border-right: ($env-width / 2) solid transparent;
        border-bottom: ($env-height / 2) - 8 solid transparent;
        border-top: ($env-height / 2) + 8 solid #bbbbbb;
        transform-origin: top;
        pointer-events: none;

    }

    .pocket {
        border-left: ($env-width / 2) solid #d4d4d4;
        border-right: ($env-width / 2) solid #d4d4d4;
        border-bottom: ($env-height / 2) solid #d0d0d0;
        border-top: ($env-height / 2) solid transparent;
        border-bottom-left-radius: $env-border-radius;
        border-bottom-right-radius: $env-border-radius;   
    }

    .letter {
        position: relative;
        background-color: #f2f2f2;
        width: 94%;
        margin-left: auto;
        margin-right: auto;
        height: 90%;
        top: 4%;
        border-radius: $env-border-radius;
        box-shadow: 0px 2px 4px 0px black;
    }

    .open .flap {
        transform: rotateX(180deg);
        transition: transform .4s ease, z-index .6s;
        z-index: 1;
    }

    .open .letter {
        text-align: center;
        transform: translateY(-($env-height / 3));
        transition: transform .4s .6s ease, z-index .6s;
        z-index: 2;
    }

    .reset {
        text-align: center;
        margin-top: 40px;
    }

    .reset button {
        font-weight: 600;
        transition: all .1s linear;
        background-color: transparent;
        border: solid 2px $color-env;
        border-radius: 4px;
        color: $color-env;
        display: inline-block;
        font-size: 14px;
        margin: 5px;
        padding: 10px;
        line-height: 1em;
        text-decoration: none;
        min-width: 120px;
    }

    .reset button:hover {
        background-color: $color-env;
        color: #fff;
    }
}