.bloc-404 {
    margin-top: 200px;
    text-align: center;

    #title-404 {
        font-size: 15em;
        font-weight: 100;    
    }

    #content-404 {
        font-size: 2em;
        font-weight: 100;
    }
}