{% extends 'base.html.twig' %}

{% block title %}Consultation fees page
{% endblock %}

{% block body %}

	<section class="fees container">
		<h1 class="text-center">Consultation
			<span class="span-h1">Fees</span>
		</h1>
		<hr>
		<div class="fees-wrapper">
			<div class="fees-tables">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="bloc-info">
								<div class="avatar">
									<img src="/images/gallery/radwan-7.jpg">
								</div>

								<div class="informations">
									<span class="fullname">Mr Mahmoud Radwan</span><br>
									<span class="specialization">Consultant Ophthalmologist.
										<br>
										Glaucoma Specialist, Complex Cataract and Laser Surgeon</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<h2 class="title-table">Test fees (when required)</h2>
							<div class="fee-table">
								<h3 class="subtitle-table">Optical coherence tomography of optic disc or macula</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">100</span>
									</span>
								</div>
								<h3 class="subtitle-table">Optical coherence tomography of drainage angle</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">50</span>
									</span>
								</div>
								<h3 class="subtitle-table">Humphrey visual field analysis</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">100</span>
									</span>
								</div>
								<h3 class="subtitle-table">Pachymetry</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">50</span>
									</span>
								</div>
								<h3 class="subtitle-table">Reporting of tests</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">50</span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<h2 class="title-table">Consultation fee</h2>
							<div class="fee-table">
								<h3 class="subtitle-table">First consultation</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">200</span>
									</span>
								</div>
								<h3 class="subtitle-table">Follow up</h3>
								<div class="price-value">
									<span class="price">
										<span class="currency">£</span>
										<span class="value">100</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="insurance container">
		<hr class="my-5">
		<h2 class="my-5">Patients with Private health insurance</h2>
		<span>Mr Radwan is recognised as a consultant ophthalmic surgeon by many private health insurers, also Mr Radwan welcomes self-paying patients
		</span>
		<div class="row mt-5">
			<figure>
				<img src="/images/insurances/allianz.jpg" alt="Allianz Worldwide Healthcare">
				<figcaption>Allianz Worldwide Healthcare</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/aetna.png" alt="aetna logo">
				<figcaption>Aetna Global Benefits</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Aviva_logo.png" alt="AVIVA Health UK Ltd logo">
				<figcaption>AVIVA Health UK Ltd</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/axa-ppp.jpg" alt="AXA PPP logo">
				<figcaption>AXA PPP</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Axa-ppp-international.png" alt="AXA PPP International logo">
				<figcaption>AXA PPP International</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/benenden.jpg" alt="Benenden Healthcare Society logo">
				<figcaption>Benenden Healthcare Society</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/bupa.webp" alt="BUPA logo">
				<figcaption>BUPA</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/bupa-inter.png" alt="BUPA International logo">
				<figcaption>BUPA International</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/cigna-inter.jpg" alt="Cigna International logo">
				<figcaption>Cigna International</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/cigna.png" alt="CIGNA Life Healthcare logo">
				<figcaption>CIGNA Life Healthcare</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/CS.png" alt="CS Healthcare logo">
				<figcaption>CS Healthcare</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/exeter.jpg" alt="Exeter Family Friendly logo">
				<figcaption>Exeter Family Friendly</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/freedom.png" alt="Freedom Health logo">
				<figcaption>Freedom Health</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/healix.jpg" alt="Healix Health Services logo">
				<figcaption>Healix Health Services</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/health-sheild.jpg" alt="Health Sheild logo">
				<figcaption>Health Sheild</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/healthonline.png" alt="Health-on-Line logo">
				<figcaption>Health-on-Line</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/hsf.jpg" alt="HSF logo">
				<figcaption>HSF</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/medical-general.jpg" alt="Medical & General logo">
				<figcaption>Medical & General</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/medicash.jpg" alt="Medicash logo">
				<figcaption>Medicash</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Vitality.jpg" alt="Vitality logo">
				<figcaption>Vitality</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Secure-health-limited.png" alt="Secure Health Limited logo">
				<figcaption>Secure Health Limited</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/simply-health.jpg" alt="SimplyHealth logo">
				<figcaption>SimplyHealth</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Standard-Life.jpg" alt="Standard Life Healthcare Ltd logo">
				<figcaption>Standard Life Healthcare Ltd</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/the-exeter.jpg" alt="The Exeter logo">
				<figcaption>The Exeter</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/WPA.png" alt="Western Provident Association (WPA) logo">
				<figcaption>Western Provident Association (WPA)</figcaption>
			</figure>
			<figure>
				<img src="/images/insurances/Westfield_Health.jpg" alt="Westfield Health logo">
				<figcaption>Westfield Health</figcaption>
			</figure>
		</div>
	</section>

{% endblock %}
