<!DOCTYPE html>
<html xmins:og="https://ogp.me/ns#" lang="en">
	<head>
		<script src="{{ asset('tarteaucitron/tarteaucitron.js')}}"></script>

		<script type="text/javascript">
			tarteaucitron.init({
				"privacyUrl": "", /* Privacy policy url */
				"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

				"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
				"cookieName": "tarteaucitron", /* Cookie name */

				"orientation": "middle", /* Banner position (top - bottom) */

				"groupServices": false, /* Group services by category */
				"serviceDefaultState": "wait", /* Default state (true - wait - false) */

				"showAlertSmall": false, /* Show the small banner on bottom right */
				"cookieslist": false, /* Show the cookie list */

				"closePopup": false, /* Show a close X on the banner */

				"showIcon": true, /* Show cookie icon to manage cookies */
				//"iconSrc": "", /* Optionnal: URL or base64 encoded image */
				"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

				"adblocker": false, /* Show a Warning if an adblocker is detected */

				"DenyAllCta" : true, /* Show the deny all button */
				"AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
				"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

				"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

				"removeCredit": false, /* Remove credit link */
				"moreInfoLink": true, /* Show more info link */

				"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
				"useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

				//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

				"readmoreLink": "", /* Change the default readmore link */

				"mandatory": true, /* Show a message about mandatory cookies */
				"mandatoryCta": true /* Show the disabled accept button when mandatory on */
			});

			tarteaucitron.user.gtagUa = 'G-7NLTCMYPR8';
			tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
			(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
		</script>
		<meta charset="UTF-8">
		<title>Doctor Radwan - {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="Mr Radwan is a Cataract Specialist, Glaucoma expert and Laser surgeon based in Colchester, Essex with more than 15 years in ophthalmology and exceptional surgical outcomes. His NHS work based in Colchester and Clacton hospitals. He welcomed both insured and self-paying patients ">
		<meta property="og:description" content="Dr Mahmoud Radwan, Colchester-based Consultant Eye Surgeon">
		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="Mr Mahmoud Radwan - Eye Specialist">
		<meta property="og:title" content="Mr Mahmoud Radwan - Glaucoma and Cataract surgeon ">
		<meta property="og:url" content="https://www.radwan-eyespecialist.com/">
		<meta property="og:image" content="https://www.radwan-eyespecialist.com/uploads/2020/10/radwan-1.jpg">
		<meta name="keywords" content="Mr Mahmoud Radwan, Radwan eye specialist, Ophthalmic surgeon, surgeon colchester, eye surgeon colchester, cataract surgery, Eye Surgery Laser, Cataract, Glaucoma, Eye Surgery Laser, Sight, Consultant Surgeon, Colchester, Essex ,London, Ipswich ,Phacoemulsification, lens, Multifocal, MIGS, Vision, Yag, Argon, Capsulotomy, Ophthalmologist, NHS, Private, Insurance, Glaucoma, surgery eye pressure,Minimally Invasive glaucoma, surgery Lens, exchange Primary, open angle iStent">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://kit.fontawesome.com/f12ce41413.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "/partials/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "/partials/footer.html.twig" %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="https://www.google.com/recaptcha/api.js?render=6Lch4GMgAAAAALyy5VKxNrilh_RSLrAorfim7xa8"></script>
		<script>
			grecaptcha.ready(function() {
				grecaptcha.execute('6Lch4GMgAAAAALyy5VKxNrilh_RSLrAorfim7xa8', {action: 'submit'}).then(function(token) {
					document.getElementById('appointment_recaptchaResponse').value = token;
				});
			});
		</script>
	</body>
</html>
