<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Doctor Radwan - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script src="https://kit.fontawesome.com/f12ce41413.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
